.container {
    margin-bottom: 25px;
}

.container button {
    position: relative;
    top: 45px;
    right: 87px;
}

.order-container {
   text-align: center;
   position: relative;
   left: 40%;
   width: 180px;
}

.container, .pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.userCardsContainer {
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    width: 100px;
    height: 60px;
    padding: 10px, 30px;
    margin: 5px 10px;
    
}

.userCardsContainerSelected {
    background-color: rgb(233, 90, 90);
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    width: 100px;
    height: 60px;
    padding: 10px, 30px;
    margin: 5px 10px;
}

.itemCardsContainer {
    border: 1px solid black; 
    padding: 8px; 
    text-align: center;
    margin: 10px 20px;
}

.navBarContainer form{
 position: relative;
 left: 30%;
}

h3, h1 {
    text-align: center;
}

/* #newCustomer {
   
} */




